/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
    --ifm-color-primary-lightest: #19938e;
    --ifm-color-primary-lighter: #16827d;
    --ifm-color-primary-light: #157c78;
    --ifm-color-primary: #13716d;
    --ifm-color-primary-dark: #116662;
    --ifm-color-primary-darker: #10605d;
    --ifm-color-primary-darkest: #0d4f4c;
    --ifm-link-color: #059669;
    --ifm-menu-color: #6b7280;
    --ifm-toc-link-color: #94a3b8;
    --ifm-menu-color-background-active: #ecfdf5;
    --ifm-code-background: #f0fdfa;

    --plum-color: #ba0d49;

    --hr-color: #e5e7eb;
    --feedback-yes-color: #13716d;
    --feedback-no-color: var(--plum-color);

    --footer-background-color: #fafafa;
}

.button--lg {
  margin-left: 10px;
  margin-right: 10px;
}